body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
.fexible-contain{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    padding: 7%;
    padding-top: 0;
}
.half-width img{
    width: 110%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 159, 32), tomato);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 35px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.download-cv{
    text-decoration: none;
    background-image: linear-gradient(skyblue, rgb(51, 51, 216));
    padding: 10px 35px;
    color: whitesmoke;
    border-radius: 5px;
}
.side-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}
h2{
    font-size: 30px;
}
.experience-item{
    width: 50%;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0px 150px;
    background-size: 120px;
}
#full-dev{
    border-left: 7px solid;
    border-image: linear-gradient(orange, yellow);
    border-image-slice: 2;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2;
}
footer p{
    padding-top: 50px;
    text-align: center;
    color: rgb(158, 156, 156);
}